<div>
  <div>
  <div>&nbsp;</div>  
  <div class='row'>
    <div class='h5 col-md-3'>No of Evolution Cycles: {{data.cycles}}</div>
    <div class='btn-group col-md-3'>
      <input type='button' ng-click='pause()' value="Pause" class="btn btn-primary"/>
      <input type='button' ng-click='resume()' value="Resume" class="btn btn-info"/>
    </div>
    <!--<div class='col-md-1'>&nbsp;</div>-->
    <input type='button' ng-click='restart()' value="Restart Inital Universe" class="btn btn-warning col-md-3" style="right:5px"/>
    <!--<div class='col-md-1'>&nbsp;</div>-->
      <input type="button" ng-click='createNew()' value="Create New Universe" class="btn btn-danger col-md-3"/>
    </div>
  </div>
  <div>&nbsp;</div>  
  <div class='universe text-center'></div>
</div>