<div>
  <p>
    "The Game of Life ... is a cellular automaton devised by the British mathematician John Horton Conway in 1970.
The 'game' is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves, or, for advanced 'players', by creating patterns with particular properties." -- Excerpt from <a href='https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life' target="_blank">Wikipedia</a>
  </p>

  <p>
    The Conway Universe is composed of a two-dimensional grid of square cells each of which is either alive or dead. During each cylce cells interact with its eight neighbours determining its state in the next step of its evolution.  The rules governing its outcome are:

    <li>Any live cell with fewer than two live neighbours dies.</li>
    <li>Any live cell with two or three live neighbours lives.</li>
    <li>Any live cell with more than three live neighbours dies.</li>
    <li>Any dead cell with exactly three live neighbours becomes a live cell.</li>

    <br>The rules continue to be applied repeatedly to create further generations.  
  </p>

  <p>
    This application is a platform for creating your own initial condition in the Conway Universe and observing its evolution.
  </p>
  <h2>Initial State of Conway Universe</h2>
  <div class='inputs'>
    <h4>Set the size of the universe by adjusting the number of rows and columns:</h4>
    <p>Enter number of rows (1-50): <input type='number' ng-model='data.rows' ng-change='resize(true)'/></p>
    <p>Enter number of columns (1-100): <input type='number' ng-model='data.cols' ng-change='resize(true)'/></p>
    <!--<h4>Set the rate at which the universe evolves:</h4>
    <p>Time between iterations in milliseconds: <input type='number' ng-model='data.timeIncrement'/></p>-->
  </div>
  <div>
    <h4>Initial State of Conway Universe</h4>
    <p>In the universe below live cells are colored red.  Set up your initial state by clicking on a cell which toggles its state.  Click the 'Start Evolving' button to commence evolutions.</p>
    <p>
      <input type='button' value='Clear All Cells' ng-click='resize(false)' class="btn btn-primary"/>
      <input type='button' value='Start Evolving' ng-click='start()' class="btn btn-primary"/>
    </p>
  <div class='startState'></div>
  </div>
  <div>
    <div class='h2'>Some Example Starting Universes</div>
    <div class='h3'>These Are Cyclical Or Eventually Evolve Into A Cyclical State</div>
    <div class='row'>
      <a href="http://162.243.110.217:3000/start/57df5fff70f9b0536a377013">
        <img src="images/cyclical1.png" alt="cyclical one" width='25%'>
      </a>
      <a href="http://162.243.110.217:3000/start/57df736d70f9b0536a377021">
        <img src="images/cyclical2.png" alt="cyclical one" width='25%'>
      </a>
      <a href="http://162.243.110.217:3000/start/57df6e7570f9b0536a37701c">
        <img src="images/cyclical3.png" alt="cyclical one" width='25%'>
      </a>

    </div>
    <div class='h3'>These Spawn New Elements</div>
    <div class='row'>
      <a href="http://162.243.110.217:3000/start/57df67b270f9b0536a377017">
        <img src="images/spawn1.png" alt="cyclical one" width='25%'>
      </a>

    </div>
    <div class='h3'>Interesting Patterns</div>
    <p>You might have to press the 'Restart From Initial Universe' button after these have loaded</p>
    <div class='row'>
      <a href="http://162.243.110.217:3000/start/57df6b2f70f9b0536a37701b">
        <img src="images/pattern1.png" alt="cyclical one" width='25%'>
      </a>
      <a href="http://162.243.110.217:3000/start/57df6f5970f9b0536a37701d">
        <img src="images/pattern2.png" alt="cyclical one" width='25%'>
      </a>
      <a href="http://162.243.110.217:3000/start/57df711670f9b0536a37701f">
        <img src="images/pattern3.png" alt="cyclical one" width='25%'>
      </a>

    </div>

  </div>
</div>